<section id="Tecnologías"class="content sau">
    <span class="icon-lab"></span><h2 class="title">Tecnologías</h2>
     <div class="box-container">

         <div class="box">
            <span class="icon-embed2"></span>
             <h3>Frondent</h3>
             <p>HTML, CSS</p>
         </div>

         <div class="box">
            <span class="icon-download3"></span>
             <h3>Backend</h3>
             <p>MySQL</p>
         </div>

         <div class="box1">
            <span class="icon-terminal"></span>
            <h3>Herramientas</h3>
            <p>GitHub</p>
        </div>
     </div>
</section>
<section>
    <div class="a">
        <p>.</p>
    </div>
    </section>
