.AR{
    width: 15%;
    height: 100%;
    background: url(img/APLogo.png) no-repeat center;
    background-size: cover;  
}

.social{
    display: flex;
    
}

.navbar{ 
    display: flex;
    
}

.navbar a {
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background: dodgerblue;
}
.header {    
    text-align: center;
    
    font-size: 60px;
    font-weight: 600px;  
    height: 60vh !important;
    background: url(img/Paisaje.jpg) no-repeat center;
    background-size: cover; 
}

.title {
    text-align: center;
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}

h1{
    font-size: 30px;
    color: #fff;
}
h2{
    margin-bottom: 10vh;
    
}

.a{
    display: flex;
    justify-content: space-between;
    height: 63px;
    background: #171717;
    width: 100%;
    z-index: 100;
}
