<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    
    
</head>
 <body>
    <section>
     <div class="a">
        <nav class="navbar">
            <div class="AR"> 
            </div>
            <a href="#inicio-1">Inicio</a>
            <a href="#sobremi">Sobre mi</a>
            <a href="#Tecnologías">Tecnologías</a>
            <a href="#habilidades1">Habilidades</a>
            <a href="#Portafolio">Mis cursos</a> 
        </nav>
        <div class="social">
            <a href="#"><img src="../../../assets/instagram.png" width="30px"></a>
            <a href="https://github.com/"><img src="../../../assets/github.png" width="30px"></a>
            <a href="/login">Login</a>
        </div>
     </div>
     <!--Presentación-->
    </section>
    <header id="inicio-1" class="content header">
        <h1>Hola!, Soy</h1>
        <h2 class="title">Sebastian Juarez</h2>
        <h1> 
         Desarrolador Full Stack, apasionado por las paginas web
        </h1>
    </header>

    <section>
        <div class="a">
            <p>.</p>
        </div>
    </section>
 </body>
</html>