.box2 {
    width: 800px;
    height: 300px;
    background: url(../../../assets/Yo.jpeg) no-repeat center;
    background-size: cover;
    border-radius: 50%;
}

.About {
    font-size: 60px;
    font-weight: 600;  
    height: 60vh !important;
    text-align: center;
    background: aqua;
}

.juntar{
    display: flex;
    margin: 80px;
}

p {
    font-size: 30px;
}

.text {
    margin-top: 10vh;
    margin-left: 10vh;
    text-align: center;
}

.a{
    display: flex;
    justify-content: space-between;
    height: 63px;
    background: #171717;
    width: 100%;
    z-index: 100;
}