<section id="sobremi" class="About">
    <h2>¡Sobre Mi!</h2>
    <section class="juntar">
    <div class="box2">
        <!--Aqui esta la imagen-->
    </div>
    

     <div class="text">
     <p>Hola, Mi nombre es Sebastian Juarez, tengo 17 años. Nací el 28 de Febrero del 2005
         en Córdoba capital, Pasé a septimo año de la especialidad de 
         programación en el colegio Dr. Amadeo Sabattini. Me considero una persona con ganas de crecer 
         profesionalmente, para ello aprovecho todo el conocimiento de los cursos adquiridos para lograr
         mi meta de ser un gran programador
     </p>
    </div>
   </section>
</section>

<section>
    <div class="a">
        <p>.</p>
    </div>
    </section>
