<div class="contenedor-skills" id="skills">
    <h3 id="habilidades1">HABILIDADES</h3>
    <div class="skills">
        <div class="info">
            <p><span class="lista"></span> HTML y CSS</p>
            <span class="porcentaje">50%</span>
        </div>
        <div class="barra">
            <div id="html" class="barra-progreso1"></div>
        </div>
    </div>
 

    <div class="skills">
        <div class="info">
            <p><span class="lista"></span> MySQL</p>
            <span class="porcentaje">50%</span>
        </div>
        <div class="barra">
            <div id="sql" class="barra-progreso2"></div>
        </div>
    </div>

    <div class="skills">
        <div class="info">
            <p><span class="lista"></span> GitHub</p>
            <span class="porcentaje">20%</span>
        </div>
        <div class="barra">
            <div id="git" class="barra-progreso3"></div>
        </div>
    </div>

</div>


<section>
    <div class="a">
        <p>.</p>
    </div>
</section>
